<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="header-home">
    </div>
  </div>

  <div>
    <!-- <button ion-button full color="primary" (click)="getAllCat()">Categorias</button> -->
    <div class="header-categories">
      <ion-item class="item-header-categories">
        <ion-label class="title-header-categories"><h5>Categorias Perto de Ti</h5></ion-label>
      </ion-item>
    </div>
        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-select [(ngModel)]="city" placeholder="Selecionar">
            <ion-option [value]="city.id" *ngFor="let city of cities">{{city.name}}</ion-option>
          </ion-select>
        </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let cat of categories">
          <div class="btn-cat" [ngStyle]="{'background-color': cat.style.backgroundcolor }">
              <ion-icon class="{{cat.icon.icon}} categorie-icon" [ngStyle]="{'color':cat.icon.style.color}"></ion-icon>
              <div style="width: 100%" class="categorie-name">{{cat.id_nome}}</div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
