// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$fa-font-path: "../assets/fonts" !default;

@import "font-awesome";
i[class^="fa-"], ion-icon[class^="fa-"] {
   font-family: "FontAwesome" !important;
}

ion-icon {
  &[class*="cat-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="cat-voleiball-ball-solid"] {
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="volleyball-ball" class="svg-inline--fa fa-volleyball-ball fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M231.39 243.48a285.56 285.56 0 0 0-22.7-105.7c-90.8 42.4-157.5 122.4-180.3 216.8a249 249 0 0 0 56.9 81.1 333.87 333.87 0 0 1 146.1-192.2zm-36.9-134.4a284.23 284.23 0 0 0-57.4-70.7c-91 49.8-144.8 152.9-125 262.2 33.4-83.1 98.4-152 182.4-191.5zm187.6 165.1c8.6-99.8-27.3-197.5-97.5-264.4-14.7-1.7-51.6-5.5-98.9 8.5A333.87 333.87 0 0 1 279.19 241a285 285 0 0 0 102.9 33.18zm-124.7 9.5a286.33 286.33 0 0 0-80.2 72.6c82 57.3 184.5 75.1 277.5 47.8a247.15 247.15 0 0 0 42.2-89.9 336.1 336.1 0 0 1-80.9 10.4c-54.6-.1-108.9-14.1-158.6-40.9zm-98.3 99.7c-15.2 26-25.7 54.4-32.1 84.2a247.07 247.07 0 0 0 289-22.1c-112.9 16.1-203.3-24.8-256.9-62.1zm180.3-360.6c55.3 70.4 82.5 161.2 74.6 253.6a286.59 286.59 0 0 0 89.7-14.2c0-2 .3-4 .3-6 0-107.8-68.7-199.1-164.6-233.4z"></path></svg>');
  }
  &[class*="cat-balance-justice-thwo"] {
    mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 460 460" ><path d="M279.27,392.188h-30.51V112.579h128.58l-54.464,86.423c-2.762,4.382-1.448,10.176,2.935,12.937 c1.554,0.98,3.282,1.445,4.992,1.445c3.115,0,6.161-1.551,7.944-4.378l47.235-74.954l47.233,74.954 c2.763,4.382,8.557,5.696,12.938,2.933c4.382-2.761,5.694-8.555,2.933-12.937l-54.462-86.423h0.688 c8.029,0,14.539-6.51,14.539-14.539c0-8.028-6.509-14.538-14.539-14.538H288.356c-6.04-8.786-14.954-15.438-25.39-18.596 C261.475,48.005,247.289,34.75,230,34.75c-17.29,0-31.475,13.255-32.967,30.156c-10.436,3.158-19.35,9.81-25.389,18.596H64.688 c-8.03,0-14.54,6.51-14.54,14.538c0,8.029,6.509,14.539,14.54,14.539h0.688l-54.464,86.423 c-2.762,4.382-1.448,10.176,2.934,12.937c1.554,0.98,3.283,1.445,4.992,1.445c3.114,0,6.162-1.551,7.945-4.378l47.235-74.954 l47.234,74.954c2.762,4.382,8.555,5.696,12.937,2.933c4.383-2.761,5.696-8.555,2.935-12.937l-54.463-86.423h128.58v279.607 h-30.509c-18.259,0-33.062,14.804-33.062,33.063h164.661C312.331,406.99,297.528,392.188,279.27,392.188z"/><path d="M143.035,223.359H5c-2.761,0-5,2.238-5,5c0,40.813,33.204,74.017,74.018,74.017c40.813,0,74.018-33.204,74.018-74.017 C148.035,225.598,145.796,223.359,143.035,223.359z"/><path d="M455,223.359H316.965c-2.761,0-5,2.238-5,5c0,40.813,33.204,74.017,74.019,74.017c40.813,0,74.017-33.204,74.017-74.017 C460,225.598,457.761,223.359,455,223.359z"/></svg>');
  }
  &[class*="cat-portable-console"] {
    mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="577.41px" height="577.41px" viewBox="0 0 577.41 577.41" style="enable-background:new 0 0 577.41 577.41;" xml:space="preserve"><path d="M533.475,43.943c-58.58-58.579-153.545-58.579-212.123,0L43.939,321.353C15.796,349.478,0,387.632,0,427.405	s15.814,77.929,43.96,106.069c58.581,58.57,153.545,58.57,212.124-0.011l277.391-277.398	C592.055,197.488,592.055,102.524,533.475,43.943z M436.859,62.031c8.146-8.154,21.403-8.164,29.584,0 c8.164,8.183,8.164,21.42,0,29.574c-8.181,8.182-21.42,8.182-29.584,0C428.697,83.423,428.697,70.212,436.859,62.031z M466.443,140.583c-8.181,8.164-21.42,8.154-29.563,0c-8.184-8.182-8.184-21.391,0-29.584c8.183-8.162,21.383-8.162,29.563,0	C474.607,119.152,474.627,132.4,466.443,140.583z M135.76,491.979c5.682,5.683,5.682,14.888,0,20.567	c-2.841,2.842-6.552,4.264-10.283,4.264s-7.446-1.422-10.286-4.264l-14.867-14.878l-14.886,14.878 c-2.841,2.842-6.573,4.264-10.283,4.264c-3.731,0-7.442-1.422-10.284-4.264c-5.684-5.681-5.684-14.894,0-20.567l14.886-14.877	l-14.868-14.856c-5.681-5.685-5.681-14.887,0-20.569c5.68-5.682,14.886-5.682,20.567,0l14.868,14.867l14.867-14.867	c5.704-5.7,14.909-5.663,20.569,0c5.682,5.684,5.682,14.896,0,20.569l-14.865,14.866L135.76,491.979z M480.668,235.728 L235.799,480.653c-2.499,2.491-6.552,2.491-9.053,0L96.761,350.68c-1.214-1.194-1.875-2.821-1.875-4.517	c0-1.696,0.661-3.323,1.875-4.518L341.689,96.709c1.215-1.191,2.821-1.867,4.526-1.867s3.314,0.673,4.527,1.867l129.924,129.985	C483.168,229.183,483.168,233.237,480.668,235.728z M515.367,140.583c-8.164,8.154-21.381,8.154-29.529-0.021	c-8.201-8.17-8.201-21.373,0-29.574c8.146-8.154,21.365-8.18,29.547,0C523.568,119.152,523.568,132.393,515.367,140.583z M515.406,91.613c-8.185,8.183-21.422,8.172-29.568,0c-8.201-8.162-8.201-21.391,0-29.555c8.164-8.183,21.385-8.183,29.568,0 C523.568,70.212,523.568,83.452,515.406,91.613z"/></svg>');
  }

  // &[class*="cat-embeddedmobile"] {
  //   mask-image: url('data:image/svg+xml;utf8,<svg ...> ... </svg>');
  //  }

}
